* {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #000000;
	font-family: "微软雅黑";
	font-size: 12px;
}

body {
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
	position: relative;
}

.myNav {
	width: 100%;
	height: 90px;
	background: #222222;
	position: relative;
	text-align: center;
	box-sizing: border-box;
}

.navLogo {
	width: 680px;
	max-height: 90px;
	height: 80px;
	margin: 0 auto;
	background: url(../img/whiteLogo.png) no-repeat 0px center;
	background-size: 100px 100px;
}

.myNav h2 {
	font-size: 60px;
	color: white;
	padding-left: 80px;
	line-height: 90px;
	display: block;
}

.navSign {
	min-width: 100px;
	max-width: 200px;
	max-height: 90px;
	height: 90px;
	float: right;
	padding-right: 10%;
}

.navSign a {
	float: right;
	margin-top: 25px;
	/* line-height: 90px; */
	text-decoration: none;
	padding-top: 5px;
	color: #FFFFFF;
	font-size: 20px;
	width: 110px;
	height: 30px;
	border-radius: 5%;
	cursor: pointer;
}

.navSign a:hover {
	background: white;
	color: black;
	font-size: 20px;
	width: 110px;
	height: 30px;
	font-weight: bold;
	cursor: pointer;
}

.backScreen {
	background: linear-gradient(135deg, #da2f3f, #111111 70%);
	height: 838px;
	left: 0;
	opacity: 1;
	color: white;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	z-index: 1;
	margin: 0;
}

.titleScreen h2 {
	font-weight: 600;
	font-size: 150px;
	font-family: "微软雅黑";
	color: white;
	text-align: center;
	padding-top: 200px;
}

.titleScreen h3 {
	font-weight: bold;
	font-size: 60px;
	color: gold;
	padding-left: 60%;
}

.titleScreen p {
	font-size: 30px;
	margin-top: 50px;
	color: rgba(255, 255, 255, 0.5);
	vertical-align: baseline;
	text-align: center;
}

.footer {
	width: 100%;
	height: 41px;
	background: #222222;
}

.footer div {
	width: 50%;
	float: left;
	color: white;
	font-size: 14px;
	line-height: 40px;
}

/* 尾部备案文字 */
.footer div a {
	color: white;
	font-size: 14px;
	line-height: 40px;
	text-decoration: none;
}

/* 尾部备案位置 */
.footer div:nth-child(1) a {
	padding-left: 30%;
}

.footer div:nth-child(2) a {
	float: right;
	padding-right: 30%;
}

/* 登陆框背景 */
.signScreen {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}

/* 弹出登陆框 */
.alterSign {
	width: 450px;
	height: 500px;
	background: #FFFFFF;
	margin: 170px auto;
	/* border-radius: 15px; */
	position: relative;
}


.falseLogin {
	width: 200px;
	height: 50px;
	position: absolute;
	bottom: 24%;
	left: 50%;
	margin-left: -100px;
	font-weight: bold;
	color: red;
	font-size: 22px;
	text-align: center;
}


/* 弹出登陆框Logo */
.alterLogo {
	width: 80px;
	height: 80px;
	background: url(../img/whiteLogo.png) no-repeat;
	background-size: 80px 80px;
	position: absolute;
	top: 13%;
	left: 50%;
	margin-left: -40px;
}

/* 登录--用户名 */
#userName {
	width: 300px;
	height: 40px;
	/* border-radius: 10px; */
	border: 1px solid #000;
	font-size: 14px;
	padding-left: 15px;
	position: absolute;
	margin-left: -160px;
	top: 40%;
	left: 50%;

}

/* 登录--密码框 */
#passWord {
	width: 300px;
	height: 40px;
	/* border-radius: 10px; */
	border: 1px solid #000;
	font-size: 14px;
	padding-left: 15px;
	position: absolute;
	margin-left: -160px;
	top: 55%;
	left: 50%;
}

/* 登录按钮 */
#signIn {
	width: 220px;
	height: 40px;
	/* background: #68aee9; */
	background: white;
	border: 1px solid #ccc;
	/* border-radius: 15px; */
	outline: none;
	position: absolute;
	bottom: 15%;
	left: 50%;
	margin-left: -110px;
	font-size: 14px;
}

#signIn:active {
	background: rgba(134, 210, 255, .9);
	color: white;
	font-weight: bold;
	bottom: 15%;
}

/* 退出按钮*/
.exitSign {
	width: 30px;
	height: 30px;
	cursor: pointer;
	float: right;
	padding: 15px 15px 0 0;
}

/* 忘记密码 */
#lostPassword {
	text-decoration: none;
	font-size: 14px;
	color: #888;
	display: block;
	position: absolute;
	left: 5%;
	bottom: 5%;
}

/* 注册--用户名输入框 */
#registerUser {
	width: 300px;
	height: 40px;
	/* border-radius: 10px; */
	border: 1px solid #000;
	font-size: 14px;
	padding-left: 15px;
	position: absolute;
	margin-left: -160px;
	top: 30%;
	left: 50%;

}

/* 注册--密码输入框 */
#registerpassWord {
	width: 300px;
	height: 40px;
	/* border-radius: 10px; */
	border: 1px solid #000;
	font-size: 14px;
	padding-left: 15px;
	position: absolute;
	margin-left: -160px;
	top: 45%;
	left: 50%;
}

/* 注册--重复密码输入框 */
#repassWord {
	width: 300px;
	height: 40px;
	/* border-radius: 10px; */
	border: 1px solid #000;
	font-size: 14px;
	padding-left: 15px;
	position: absolute;
	margin-left: -160px;
	top: 60%;
	left: 50%;
}

/* 注册提交按钮 */
#registerIn {
	width: 220px;
	height: 40px;
	/* background: #68aee9; */
	background: white;
	border: 1px solid #ccc;
	/* border-radius: 15px; */
	outline: none;
	position: absolute;
	bottom: 15%;
	left: 50%;
	margin-left: -110px;
	font-size: 14px;
}

#registerIn:active {
	background: rgba(134, 210, 255, .9);
	color: white;
	font-weight: bold;
	bottom: 15%;
}

/* 登录切换注册按钮 */
.registerButton {
	font-size: 14px;
	text-align: center;
	width: 60px;
	cursor: pointer;
	outline: none;
	background: white;
	border-radius: 5px;
	position: absolute;
	text-decoration: none;
	right: 20px;
	bottom: 25px;
}

/* 注册后台验证 提示 */
.loginMessage {
	position: absolute;
	width: 300px;
	height: 40px;
	top: 30%;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	font-size: 18px;
	color: orangered;
}

/* 注册提示信息 */
.registerMessage {
	font-size: 18px;
	color: tomato;
	display: block;
	position: absolute;
	bottom: 130px;
	left: 15%;
}

.registerButton:active {
	bottom: 23px;
	right: 19px;
	border: 1px solid #ccc;
}

/* 注册切换登录按钮 */
.signButton {
	font-size: 14px;
	text-align: center;
	width: 60px;
	cursor: pointer;
	outline: none;
	background: white;
	border-radius: 5px;
	position: absolute;
	text-decoration: none;
	right: 20px;
	bottom: 25px;
}

.signButton:active {
	bottom: 23px;
	right: 19px;
	border: 1px solid #ccc;
}

/* 以下为注册页面判断效果 */
.userImg {
	position: absolute;
	top: 160px;
	right: 35px;
}


.userTip {
	position: absolute;
	top: 196px;
	left: 19%;
	color: #e21b1b;
}

.registerpassWordImg {
	position: absolute;
	top: 235px;
	right: 35px;
}

#userimg {
}

#registerpassWordimg {
	
}

.registerpassWordTip {
	position: absolute;
	top: 271px;
	left: 19%;
	color: #e21b1b;
}

.repassWordImg {
	position: absolute;
	top: 310px;
	right: 35px;
}

.repassWordTip {
	position: absolute;
	top: 346px;
	left: 19%;
	color: #e21b1b;
}

