* {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #000000;
	font-family: "微软雅黑";
	font-size: 12px;
}

.myNav {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #ccc;
	box-shadow: #000000 1px;
}

.navMenu {
	width: 60px;
	height: 60px;
	border: 1px solid #ccc;
	border-bottom: none;
	background: url(../img/navManu2.png) no-repeat center;
	background-size: 30px 30px;
	float: left;
	cursor: pointer;
}

.navLeft img {
	margin-left: 20px;
	float: left;
}

.navLeft h2 {
	float: left;
	line-height: 60px;
	font-size: 30px;
	color: #fadb0b;
	margin-left: 20px;
}

.navRight {
	width: 60%;
	height: 100%;
	float: right;
	position: relative;
}

/* 头像样式 */
.headImage {
	width: 40px;
	height: 40px;
	background: url(../img/headImage.png) no-repeat center;
	background-size: 40px 40px;
}

/* Nav部分无序列表样式 */
.navRight>ul>li {
	float: right;
	cursor: pointer;
	margin-left: 40px;
	font-size: 16px;
	line-height: 60px;
}

.navRight>ul>li>a {
	font-size: 16px;
}

.navRight>ul>li>a:hover {
	color: #fadb0b;
}

.navRight>ul>li:nth-child(1) {
	margin-top: 10px;
	margin-right: 30px;
}

.navRight>ul>li:hover {
	color: #fadb0b;
}

.navRight a {
	font-size: 14px;
	text-align: left;
	text-decoration: none;
}

/* 钱包内容 */
.navBill {
	right: 460px;
}

/* 消息部分 */
.navNotice {
	right: 390px;
}

/* 支持与服务 */
.navSupport {
	right: 270px;
}

/* 主页 */
#mainPage {
	margin-top: 15px;
}

/* 语言选择 */
.navLanguage {
	right: 100px;
}

/* 公共样式 */
.navPublic {
	top: 46px;
	position: absolute;
	display: none;
	border-radius: 5px;
	border: 1px solid white;
	box-shadow: 0 3px 5px #ccc;
	background: white;
}

.navPublic ul {
	background: white;
	width: 110px;
	height: 40px;
}
.navPublic ul li:hover {
	background: #eee;
}

.navPublic ul li {
	cursor: pointer;
	width: 100px;
	height: 40px;
	float: left;
	line-height: 40px;
	padding-left: 10px;
}

/* 本页开始 */

.simPublic {
	width: 90%;
	display: block;
	margin: 0 auto;
	/* margin-left: 15%; */
	border: 1px solid #ccc;
	margin-top: 50px;
	cursor: pointer;
	outline: #0000FF;
}

.simPublic span {
	font-size: 22px;
	/* margin-left: 15%; */
}

.simPage {
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
	font-size: 20px;
	background: #eee;
}

.simPage span {
	font-size: 20px;
	margin: 0 20px;
	cursor: pointer;
}

.simPage a {
	font-size: 20px;
	margin: 0 10px;
	cursor: pointer;
}

.simPage p {
	font-size: 20px;
	margin: 0 5px;
	cursor: pointer;
}

.simPage input {
	text-align: center;
	font-size: 20px;
	width: 30px;
	height: 15px;
	outline: none;
	margin: 5px;
}